body {
	background: #3F3F3F;
}


.nav.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

#header-submit {
	padding-left: 40px;
	padding-right: 40px;
	font-weight: bold;
	font-size: 16px;
	margin-left: 20px;
}

#canvas {
	cursor: none;
	visibility: hidden;
}

form input[type=text] {
	max-width: 150px;
}

.score {
	width: auto;
	height: 150px;
	background: gray;
	margin: 0 auto;
}

.jumbotron {
	background: #3F3F3F;
}

/*#player-name-display {

	color: #5ABAD0;
}
*/

.container-fluid {
	margin-top: 20px;
}

#player-name-display {
	font-weight: bolder;
}

#player2-name-display {
	font-weight: bolder;
}

#stats-header {
	color: #5ABAD0;
}

#stats-container div {
	color: #5ABAD0;
}

#stats-container2 div {
	color: #5ABAD0;
}

.glyphicon-refresh-animate {
    -animation: spin 1.2s infinite linear;
    -webkit-animation: spin2 1.2s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

#loading-button {
	background: #5ABAD0;
	margin: 0 auto;
}

.timing-info {
	font-weight: bolder;
	color: #8DAD89;
	font-size: 70px;
}

.jumbotron .row p {
	margin-bottom: 0px;
}
