body {
	background: #3F3F3F;
}


.nav.nav-center {
    margin:0;
    float:none;
}

.navbar-inner{
    text-align:center;
}

#header-submit {
	padding-left: 40px;
	padding-right: 40px;
	font-weight: bold;
	font-size: 16px;
	margin-left: 20px;
}

#canvas {
	cursor: none;
	visibility: hidden;
}

form input[type=text] {
	max-width: 150px;
}

.score {
	width: auto;
	height: 150px;
	background: gray;
	margin: 0 auto;
}

.jumbotron {
	background: #3F3F3F;
}

/*#player-name-display {

	color: #5ABAD0;
}
*/

.container-fluid {
	margin-top: 20px;
}

#player-name-display {
	font-weight: bolder;
}

#stats-header {
	color: #5ABAD0;
}

#stats-container div {
	color: #5ABAD0;
}


/****************************/
/* #player-name{	    */
/*     padding-left: 40px;  */
/*     padding-right: 40px; */
/*     margin-top: 40px;    */
/*     height:40px;	    */
/*     width: 60px;	    */
/*     float:left;	    */
/* }			    */
/* #success-rate{	    */
/*     margin-top: 40px;    */
/*     padding-left: 40px;  */
/*     padding-right: 40px; */
/*     float:right;	    */
/* }			    */
/****************************/

